@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f8f8f8;
  --foreground: #4d4d4d;
}

:root.dark {
  --background: #1c1c1c;
  --foreground: #b3b3b3;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Google Sans", Arial, Helvetica, sans-serif;
}
